<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D2 Airlines</title>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/vendors/css/glightbox.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>
  <!-- START THE NAVBAR -->


  <nav class="navbar navbar-expand-md navbar-light menu shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img style="max-width: 100px; margin: -5px; min-width: 5em;"
          src="images/dbms/logo.png" alt="logo image"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a class="nav-link" href="#services">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#FAQ">FAQ</a>
          </li>

        </ul>
        <div class="dropdown">
          <button type="button" id="dropDownSupport" data-bs-toggle="dropdown"
            class="rounded-pill btn-rounded dropdown-toggle"><span><i
                class="fas fa-headset caret"></i></span>Support</button>
          <ul class="dropdown-menu" aria-labelledby="dropDownSupport">
            <ul>
              <span><i class="far fa-envelope supp_log"></i>

                <li>srikanth@d2airlines.com</li>
                <li>rahul@d2airlines.com</li>
                <li>ayush@d2airlines.com</li>
            </ul>
            <span><i class="fas fa-phone-alt supp_log"></i>

              <li>022-45612389</li>

          </ul>

          </ul>
        </div>
        <div>
          <button class="REG" id="registerpage">
            REGISTER
          </button>
          <button class="REG" id="loginpage">
            LOGIN
          </button>
        </div>
      </div>
    </div>
  </nav>

  <!-- START INTRO SECTION -->
  <section id="home" class="intro-section">
    <div class="container">
      <div class="row align-items-center">




        <div class="big-banner col-md-6">
          <div class="booking-form-box align-items-left text-white">
            <div class="radio-btn contra">
              <div class="form-check form-check-inline">
                <input class="form-check-input inp" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                  value="option1" aria-selected="true">
                <label class="form-check-label radio inline lab" for="inlineRadio1" checked="checked">Round-Trip</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input inp" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
                <label class="form-check-label radio inline lab" for="inlineRadio2">One-Way</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input inp" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                  value="option3">
                <label class="form-check-label radio inline lab" for="inlineRadio3">Multi City</label>
              </div>

            </div>

            <div class="booking-form">
              <label>Flying From</label>
              <input type="text" class="form-control mt-2 mb-2" placeholder="City or Airport" id="source">
              <div>
                <i class="fas fa-exchange-alt"></i>
              </div>

              <label>Flying To</label>
              <input type="text" class="form-control mt-2 mb-2" placeholder="City or Airport" id="destination">
              <div class="input-grp">
                <label>Depart on</label>
                <input type="date" class="form-control mt-2 mb-2 select-date" id="departure">
              </div>
              <div class="input-grp">
                <label>Return on</label>
                <input type="date" class="form-control mt-2 mb-2 select-date" id="arrival">
              </div>

              <div class="input-grp">
                <label>Adults</label>
                <input type="number" class="form-control mt-2 mb-2" value="1">
              </div>

              <div class="input-grp">
                <label>Children</label>
                <input type="number" class="form-control mt-2 mb-2" value="0">
              </div>
              <div class="input-grp mt-2">
                <label>Travel Class</label>
                <select class="custom-select mt-2 mb-2">
                  <option value="1">Economy Class</option>
                  <option value="2">Business Class</option>
                </select>
              </div>

              <div class="input-grp">
                <button type="button" class="btn btn-primary flight" id="gogo">
                  Show Flights
                </button>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6 intros text-end">
          <div class="video-box">
            <img src="images/arts/aircraft.png" alt="video illustration" class="img-fluid">
          </div>
        </div>



      </div>


  </section>

  <!-- COMPANIESSSSSS -->


  <!-- <section id="companies" class="companies">
    <div class="container">
      <div class="row text-center">
        <h4 class="fw-bold lead mb-3 display-6" id="okbhai">Our Partners</h4>
        <div class="heading-line mb-5 text-center"></div>
      </div>
    </div> -->

    <!-- PLAYERS -->
    <!-- <div class="container ">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="companies__logo-box shadow-sm"><img src="images/logs/player-1.png" alt="Player 1 logo"
              title="Deutsche Lufthansa AG" class="img-fluid"></div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="companies__logo-box shadow-sm"><img src="images/logs/player-2.png" alt="Player 2 logo"
              title="Emirates" class="img-fluid"></div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="companies__logo-box shadow-sm"><img src="images/logs/player-3.png" alt="Player 3 logo"
              title="IndiGo" class="img-fluid"></div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="companies__logo-box shadow-sm"><img src="images/logs/player-4.png" alt="Player 4 logo"
              title="Qatar Airways" class="img-fluid"></div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="companies__logo-box shadow-sm"><img src="images/logs/player-5.png" alt="Player 5 logo"
              title="SpiceJet" class="img-fluid"></div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="companies__logo-box shadow-sm"><img src="images/logs/player-6.png" alt="Player 6 logo"
              title="Turkish Airlines" class="img-fluid"></div>
        </div>
      </div>
    </div> -->
  <!-- </section> -->

  <!-- SIUUUUUUUUUUUUUUUU -->
  <section id="services" class="services">
    <div class="container">
      <div class="row text-center">
        <h1 class="display-3 fw-bold">About Us</h1>
        <div class="heading-line mb-1"></div>
      </div>






      <!-- START THE DESCRIPTION -->

      <div class="row pt-2 pb-2 mt-0 mb-3">
        <div class="col-md-6 border-right">

          <div class="bg-white p-3">
            <h1 class="fw-bold text-capitalize text-center">
              Stop Searching,
            </h1>
            <h1 class="fw-bold text-capitalize text-center">
              Start Traveling.
            </h1>
          </div>
        </div>
        <div class="col-md-6">
          <div class="bg-white p-4 text-start">
            <p class="fw-normal">
              Travel safely with us.
            <p class="fw-normal">
              As one of the largest and most experienced global airlines throughout the COVID-19 crisis, you can rely on
              us to take you on your next journey safely.
            </p>
            </p>
          </div>
        </div>
      </div>
    </div>









    <!-- START THE CONTENT FOR THE SERVICES -->
    <div class="container">
      <div class="container ">
        <div class="row">
          <div class="d-flex justify-content-center">
            <div class="companies__logo-box hover-shadow mask"><img src="images/board/s.jfif"
                class="rounded-circle img-fluid" alt="Player 1 logo" title="Srikanth Iyengar"></div>
            <div class="caption text-center fw-bold">Srikanth Iyengar</div>
            <div class="caption text-center mt-3">President, Co-Founder</div>
          </div>
          <!-- <div class="col-md-6 col-lg-4 shadow-sm board  hover-shadow mask">
            <div class="companies__logo-box "><img class="rounded-circle img-fluid" src="images/board/r.jfif"
                alt="Player 5 logo" title="Rahul Shukla"></div>
            <div class="caption text-center fw-bold">Rahul Shukla</div>
            <div class="caption text-center mt-3">Director, Co-Founder</div>
          </div>
          <div class="col-md-6 col-lg-4 shadow-sm board hover-shadow mask">
            <div class="companies__logo-box"><img class="rounded-circle img-fluid" src="images/board/a.jfif"
                alt="Player 6 logo" title="Ayush Singh"></div>
            <div class="caption text-center fw-bold">Ayush Singh</div>
            <div class="caption text-center mt-3 mb-3">CEO, Co-Founder</div>
          </div> -->
        </div>
      </div>
  </section>




  <!-- TESTIMONIALS  -->

  <section id="testimonials" class="testimonials"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1" d="M0,288L1440,96L1440,0L0,0Z"></path>
    </svg>
    <div class="container" id="FAQ">
      <div class="row text text-white">
        <h1 class="display-3 fw-bold text-center">FAQs</h1>
        <hr style="width: 100px; height: 3px;" class="mx-auto">
        <div>
          <!-- ACCORDION CONTENT -->
          <div class="row-mt-5">
            <div class="col-md-12">
              <div class="accordion text-black" id="accordionExample">
                <div class="accordion-item shadow mb-3">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      What are the cancellation charges?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                    <div class="accordion-body">
                      <strong>Short answer – it depends.</strong>
                      Long answer – the cancellation charges depend on the airline, sector, class of booking, and time
                      of cancellation. In addition to the airline's cancellation charges, for within India Domestic
                      bookings, we charge a Non-Refundable cancellation fee of Rs 300 per passenger per sector.
                    </div>
                  </div>
                </div>
                <div class="accordion-item shadow mb-3">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      What is the maximum number of seats I can book?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                    <div class="accordion-body">
                      <strong>A maximum of 9 seats</strong>
                      can be booked at one time. If you need to book for more than 9 travelers you will have to
                      re–complete the booking process for the additional travelers.
                    </div>
                  </div>
                </div>
                <div class="accordion-item shadow mb-3">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Do I have to show ID proof at the time of check–in?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                    <div class="accordion-body">
                      <strong>Yes, </strong>
                      for domestic flights within India, below are the applicable government issued photo-ids accepted
                      by the airlines-
                      <ul>
                        <li>Voter ID</li>
                        <li>Aadhar Card</li>
                        <li>Driving License</li>
                        <li>Pan Card</li>
                        <li>Passport</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item shadow mb-3">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      How do I get a boarding pass for an e–ticket?
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
                    <div class="accordion-body">
                      You need to show your e–ticket confirmation email and your e–ticket number at the check–in
                      counter. The airline representative will issue your boarding pass at that time.
                    </div>
                  </div>
                </div>
                <div class="accordion-item shadow mb-3">
                  <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      How long does it take to process a refund?
                    </button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                    <div class="accordion-body">
                      Refund computation will take
                      <strong>12 working days </strong>
                      and the amount will reflect in your account within 15-20 working days depending on the issuing
                      Bank.
                    </div>
                  </div>
                </div>
                <div class="accordion-item shadow mb-3">
                  <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      Is it possible to book tickets for another person through my account?
                    </button>
                  </h2>
                  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix">
                    <div class="accordion-body">
                      <strong>Yes, </strong>
                      just enter the details of the passengers you want to book for when you’re asked to enter
                      traveller–details at the time of booking.


                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>


      </div>














    </div>
    </div>
    </div>
  </section>

  <footer class="footer footer2 text-white" style="background-color: #212121;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
          <div class="contact-box__icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call" viewBox="0 0 24 24"
              stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
              <path d="M15 7a2 2 0 0 1 2 2" />
              <path d="M15 3a6 6 0 0 1 6 6" />
            </svg>
          </div>
          <div class="contact-box__info">
            <a href="#" class="cbit">022-45612389</a>
            <p class="cbs" style="color:gray !important;"> Mon-Fri 9am-6pm</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
          <div class="contact-box__icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail-opened" viewBox="0 0 24 24"
              stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <polyline points="3 9 12 15 21 9 12 3 3 9" />
              <path d="M21 9v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10" />
              <line x1="3" y1="19" x2="9" y2="13" />
              <line x1="15" y1="13" x2="21" y2="19" />
            </svg>
          </div>
          <div class="contact-box__info">
            <a href="#" class="cbit">info@d2airlines.com</a>
            <p class="contact-box__info--subtitle" style="color:gray !important;">E-mail</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
          <div class="contact-box__icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-2" viewBox="0 0 24 24"
              stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <line x1="18" y1="6" x2="18" y2="6.01" />
              <path d="M18 13l-3.5 -5a4 4 0 1 1 7 0l-3.5 5" />
              <polyline points="10.5 4.75 9 4 3 7 3 20 9 17 15 20 21 17 21 15" />
              <line x1="9" y1="4" x2="9" y2="17" />
              <line x1="15" y1="15" x2="15" y2="20" />
            </svg>
          </div>
          <div class="contact-box__info">
            <a href="#" class="cbit">Mumbai, IN</a>
            <p class="contact-box__info--subtitle" style="color:gray !important;">Headquarters</p>
          </div>
        </div>




      </div>
    </div>



    <!-- Copyright -->
    <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">D2 Airlines</a>
    </div>
    <!-- Copyright -->
  </footer>






















  <script src="/assets/vendors/js/glightbox.min.js"></script>
  <script type="text/javascript">
    const lightbox = GLightbox({
      'href': 'https://youtu.be/iJKCj8uAHz8',
      'type': 'video',
      'source': 'youtube', //vimeo, youtube or local
      'width': 900,
      'autoPlayVideos': 'true',
    });

  </script>
  <script src="assets/js/bootstrap.bundle.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->
  <script>
    $(document).ready(() => {
      $("#registerpage").click(() => {
        var url = "user/register";
        $(location).attr('href', url);
      });
      $("#loginpage").click(() => {
        var url = "user/login";
        $(location).attr('href', url);
      });
      $("#gogo").click(() => {
        // var pathname = "http://localhost:8080/find";
        // console.log("Hello WOrld");
        var source = $(`#source`).val();
        var destination = $(`#destination`).val();
        var arrival = $(`#arrival`).val();
        var departure = $(`#departure`).val();
        var pathname = `http://localhost:8080/find?source=${source}&destination=${destination}`
        $(location).attr('href', pathname);
      })
    });
  </script>



</body>

</html>