<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<title tiles:fragment="title">Messages : Create</title>
</head>
<body>
	<div tiles:fragment="content">
		<form action="/airline/find" method="post">
			<fieldset>
				<legend>Enter Source And Destination</legend>
				<label for="username">Source</label> <input type="text" id="source"
					name="source" /> <label for="password">Destination</label> <input
					type="text" id="destination" name="destination" />
				<div class="form-actions">
					<button type="submit" class="btn">Search</button>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>