<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Flight Result</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/vendors/css/glightbox.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>
    <div id="form">
        <div class="row" id="a1">
            <div class="col-5">
                <input type="text" name="firstName" id="firstName1" class="form-control " placeholder="First Name">
            </div>
            <div class="col-5">
                <input type="text" name="lastName" id="lastName1" class="form-control" placeholder="Last Name">
            </div>
            <input type="number" name="age" id="age1" class="form-control" placeholder="Age" min="1">
            <div class="col-5">
                <select class="form-select" id="gender1">
                    <option value="M">Male</option>
                    <option value="F"> Femal</option>
                </select>
            </div>
            <div>
                <input type="text" name="aadharId" id="aadharId1" class="form-control" placeholder="12 digit AadharId">
            </div>
        </div>
        <button type="button" id="del1" class="btn btn-primary">
            DELETE</button>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">₹</span>
        <input type="text" disabled value="100" id = "amount">
    </div>
    <button type="button" class="btn btn-success" id="bookbutton">Book</button>
    <button id="addForm" class="btn btn-danger" type="button">Add</button>
</body>
<script>
    $(document).ready(() => {
        var count = 2
        var active = 1;
        $("#addForm").click(function () {
            $("#form").append(`
                <div class="row" id="a${count}">
                    <div class="col-5">
                        <input type="text" name="firstName" id="firstName${count}" class="form-control " placeholder="First Name" >
                    </div>
                    <div class="col-5">
                        <input type="text" name="lastName" id="lastName${count}" class="form-control" placeholder="Last Name">
                    </div >
                        <input type="number" name="age" id="age${count}" class="form-control" placeholder="Age" min="1">
                    <div class="col-5">
                        <select class="form-select" id="gender${count}">
                            <option value="M">Male</option> 
                            <option value="F"> Female</option>    
                        </select>
                    </div>
                    <div>
                        <input type="text" name="aadharId" id="aadharId${count}" class="form-control" placeholder="12 digit AadharId">
                    </div>
                    <button type="button" id="del${count}" class="btn btn-primary" onclick="deleteBox($(this).attr('id'));"> DELETE</button>
                </div>`
            )
            active++;
            $("#amount").val(active*100)
            count++
        });
        deleteBox = (id) => {
            var id_len = id.length;
            var form_id = "a";
            for (var i = 3; i < id_len; i++) {
                form_id += id[i];
            }
            active--;
            $("#amount").val(active*100)
            $("#" + form_id).remove();
        };
        $("#bookbutton").click(function (event) {
            event.preventDefault();
            alert("Submitting the form");
            var passengers = [{

            }];
            for (var i = 1; i <= count; i++) {
                if ($(`#a${i}`).length) {
                    var passenger = {

                    };
                    passenger["firstName"] = $(`#firstName${i}`).val();
                    passenger["lastName"] = $(`#lastName${i}`).val();
                    passenger["age"] = $(`#age${i}`).val();
                    passenger["gender"] = $(`#gender${i}`).find(":selected").val();
                    passenger["aadhar"] = $(`#aadharId${i}`).val();
                    passengers.push(passenger);
                }
            }
            console.log(passengers);
            
            var pathname = window.location.pathname;
            var result = null;
            $.ajax({
                method: "post",
                url: pathname,
                data: JSON.stringify(passengers),
                datatype: 'json',
                contentType: "application/json",
                success: (data) => {
                    result = data;        
                    var url = "http://localhost:8080/user/success/" + result;
                    $(location).attr('href',url);
                }
            }, (data, status) => {
                alert(`${data} - ${status}`)
            });
        });
    });
</script>

</html>