<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <base href="/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/assets/vendors/css/glightbox.min.css">
  <link href="/https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="preconnect" href="/https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<div id="result"></div>

<body>
  <section id="home" class="intro-section">
    <div class="container mt-4">
      <h1 class="text-center ur pb display-4">
        User<span class="text-white">Registration</span>
      </h1>
    </div>
    <div class="big-banner col-md-12">
      <div class="booking-form-box userbox align-items-center text-white" id="form">
        <div class="input-grp mt-3">
          <label>First Name</label>
          <input type="text" class="form-control mt-2 mb-2" placeholder="John" id="FirstName">
        </div>

        <div class="input-grp">
          <label>Last Name</label>
          <input type="text" class="form-control mt-2 mb-2" placeholder="Doe" id="LastName">
        </div>

        <div class="input-grp">
          <label>Email ID</label>
          <input type="email" class="form-control mt-2 mb-2" placeholder="name@example.com" id="Email">
        </div>

        <div class="input-grp">
          <label>Password</label>
          <input type="password" class="form-control mt-2 mb-2" id="password">
        </div>





        <div class="input-grp agen">
          <span class="gender">
            <label>Gender: </label>
            <select class="custom-select mt-2 mb-2" id="gender">
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
          </span>
          <span class="age">
            <label>Age: </label>
            <input type="text" class="form-control agein" id="Age">
          </span>
        </div>

        <div class="input-grp phone">
          <label>Phone Number</label>
          <input type="tel" class="form-control mt-2 mb-2"  id="Phone">
        </div>

        <div class="input-grp Contact mt-2">
          <button type="button" class="btn mb-2 btn-primary addContact" id="addContact">
            Register
          </button>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>



  <script>
    $("#addContact").click(function (event) {
      event.preventDefault();
      var fName = $("#FirstName").val();
      var lName = $("#LastName").val();
      var password = $("#password").val();
      var email = $("#Email").val();
      var gender = $("#gender").find(":selected").val();
      var phoneNo = $("#Phone").val();
      var url = "/user/register";
      console.log(JSON.stringify({
          firstName: fName,
          lastName: lName,
          password: password,
          email: email,
          phoneNo: phoneNo,
          gender: gender
        }));
      $.ajax({
        method: "post",
        url: "http://localhost:8080/user/register",
        data: JSON.stringify({
          firstName: fName,
          lastName: lName,
          password: password,
          email: email,
          phoneNo: phoneNo,
          gender: gender
        }),
        datatype: 'json',
        contentType: "application/json"
      }, (data, status) => {
        alert(`${data} - ${status}`)
      });
      var goto = "http://localhost:8080";
      // var url = "user/login";
        $(location).attr('href', goto);
    });
  </script>



</body>

</html>