<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<p aria-label="CodePen">
  <span data-text="f">f</span><span data-text="O">O</span><span data-text="D">D</span><span data-text="E">E</span><span data-text="P">P</span><span data-text="E">E</span><span data-text="N">N</span>
</p>